.best {
  position: absolute;

  width: 1850px;
  height: 945px;
  margin: 650px 280px;

  .best_glav_box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .best_subtitle {
    /* Articles */

    width: 68px;
    height: 23px;

    /* Headings/H5 - Bold 18 */
    font-family: "Poppins";

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */

    /* Secondary Color */
    color: #ffb23f;
  }

  .best_glav_title {
    /* The best furniture comes from Lalasia */

    width: 544px;
    height: 114px;

    /* Headings/H2 - Bold 44 */
    font-family: "Poppins";

    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */

    /* Text Color */
    color: #151411;
  }

  .best_text {
    /* Pellentesque etiam blandit in tincidunt at donec. */

    width: 544px;
    height: 32px;

    /* Paragraph/P3 - 18 Medium */
    font-family: "Poppins";

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */

    /* Paragraph Color */
    color: #afadb5;
  }

  .best_bck {
    background-image: url("../img/best_wrapper.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 490px;
    height: 590px;

    .best_bck_subtitle {
      /* Tips and Trick */

      width: 114px;
      height: 32px;

      font-family: "Poppins";

      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 180%;
      /* or 32px */

      /* Screen Color */
      padding: 0 20px;
      color: #ffffff;

      opacity: 0.7;
    }

    .best_bck_glav_title {
      /* Create Cozy Dinning Room Vibes */

      width: 419px;
      height: 34px;

      font-family: "Poppins";

      font-style: normal;
      padding: 0 20px;
      font-weight: 700;
      font-size: 22px;
      line-height: 130%;
      /* identical to box height, or 34px */
      letter-spacing: 0.01em;

      /* Screen Color */
      color: #ffffff;

      /* Inside auto layout */
    }

    .best_bck_text {
      /* Decorating with neutrals brings balance to the dining room. With eclectic decoration on the sides, Caruso Dining Table and Cyrillo Dining Chairs elevate the tonal base of the room. The modern furniture set gives personality to any space in all types of architecture.‎ The wide volume enables everyone to sit back and relax, be it in the dining room, conference, or office. */

      width: 530px;
      height: 32px;

      font-family: "Poppins";

      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      padding: 0 20px;
      line-height: 180%;
      /* or 32px */

      /* Screen Color */
      color: #ffffff;

      opacity: 0.7;
    }

    .best_btn {
      /* Read More */

      width: 93px;
      height: 32px;

      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 180%;
      /* or 32px */

      /* Screen Color */
      background-color: inherit;
      border: none;

      /* Screen Color */
      color: #ffffff;
    }

    .best_bck_box {
      position: absolute;
      margin-top: 450px;
      height: 150px;
    }
  }

  .mini_text {
    /* Tips and Trick */

    width: 114px;
    height: 32px;

    /* Paragraph/P3 - 18 Medium */
    font-family: "Eudoxus Sans";
    font-style: normal;
    padding: 25px 20px;

    font-weight: 500;
    font-size: 12px;
    line-height: 180%;
    /* or 32px */

    /* Paragraph Color */
    color: #afadb5;
  }

  .mini_title {
    /* 6 ways to give your home minimalistic vibes */

    width: 318px;
    height: 62px;

    /* Headings/H3 - Bold 24 */
    font-family: "Eudoxus Sans";
    font-style: normal;
    padding: 25px 20px;

    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */

    /* Text Color */
    color: #151411;
  }

  .mini_text2 {
    /* Pellentesque etiam blandit in tincidunt at donec. Eget ipsum . */

    width: 329px;
    height: 32px;

    /* Paragraph/P3 - 18 Medium */
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    padding: 25px 20px;
    line-height: 180%;
    /* or 32px */

    /* Paragraph Color */
    color: #afadb5;
  }

  .best_right_mini_box {
    width: 610px;
    margin-top: 50px;

    padding: 0px 25px;
    height: 260px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .mini_info_box {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .mini_name_box {
    margin-top: 70px;
    display: flex;

    align-items: center;
    gap: 50px;
  }

  .mini_info_title {
    /* By Kim Gurameh */

    width: 112px;
    height: 18px;

    /* Headings/H6+ - Bold 14 */
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */

    /* Text Color */
    color: #151411;
  }

  .mini_info_text {
    /* Friday, 1 April 2022 */

    width: 123px;
    height: 25px;

    margin-top: 70px;
    /* Paragraph/P1 - 14 Medium */
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    /* or 25px */

    /* Paragraph Color */
    color: #afadb5;
  }

  .best_right_img {
    /* Rectangle 20 */

    width: 260px;
    height: 260px;
  }
}

@media (max-width: 480px) {
  .best {
    width: 100%;

    margin-top: 3200px;
    margin-left: 0px;
    height: 500px;

    .best_bck_glav_title {
      display: none;
    }

    .best_subtitle {
      /* Articles */

      width: 53px;
      height: 18px;

      /* Headings/H6+ - Bold 14 */
      font-family: "Eudoxus Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;

      line-height: 130%;
      /* or 18px */

      /* Secondary Color */
      color: #ffb23f;
    }

    .best_glav_title {
      /* The best furniture comes from Lalasia */

      width: 289px;
      height: 62px;

      /* Headings/H3 - Bold 24 */
      font-family: "Eudoxus Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      /* or 31px */

      /* Text Color */
      color: #151411;
    }

    .best_text {
      /* Pellentesque etiam blandit in tincidunt at donec. */

      width: 327px;
      height: 25px;

      /* Paragraph/P1 - 14 Medium */
      font-family: "Eudoxus Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 180%;
      /* or 25px */

      /* Paragraph Color */
      color: #afadb5;
    }

    .best_bck {
      background-image: url("../img/best_bck_wrapper.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 327px;
      height: 200px;
    }

    .best_bck_subtitle {
      display: none;
    }

    .best_glav_title {
      /* Create Cozy Dinning Room Vibes */

      width: 289px;
      height: 21px;
      display: none;

      /* Headings / H6 - Bold 16 */
      font-family: "Eudoxus Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      /* identical to box height, or 21px */

      /* Screen Color */
      color: #ffffff;
    }

    .best_bck_text {
      /* Decorating with neutrals brings balance to the dining room. With eclectic decoration on the sides, Caruso Dining Table and Cyrillo Dining Chairs elevate the tonal base of the room. The modern furniture set gives personality to any space in all types of architecture.‎ The wide volume enables everyone to sit back and relax, be it in the dining room, conference, or office. */

      width: 289px;
      display: none;
      height: 25px;

      /* Paragraph/P1 - 14 Medium */
      font-family: "Eudoxus Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 180%;
      /* or 25px */

      /* Screen Color */
      color: #ffffff;
    }

    .best_btn {
      /* Read More */

      width: 63px;
      height: 22px;

      font-family: "Eudoxus Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 180%;
      /* identical to box height, or 22px */

      /* Screen Color */
      color: #ffffff;
    }

    .best_glav_box {
      flex-direction: column;
    }

    .mini_info_title {
      /* By Michaela Augus */

      /* Label / L1 - 12 Bold */
      font-family: "Eudoxus Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      line-height: 180%;
      /* identical to box height, or 22px */

      /* Text Color */
      color: #151411;
    }

    .mini_name_box {
      position: absolute;
      margin: 0;
    }

    .best_right_mini_box {
      width: 203px;
      height: 150px;
    }
    .mini_text {
      /* Tips and Trick */

      /* Label / L1 - 12 Bold */
      font-family: "Eudoxus Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 11px;
      margin: 0;
      padding: 0;
      line-height: 180%;
      /* identical to box height, or 22px */

      /* Paragraph Color */
      color: #afadb5;
    }

    .mini_text2 {
      /* Tips and Trick */

      /* Label / L1 - 12 Bold */
      font-family: "Eudoxus Sans";
      font-style: normal;
      font-weight: 700;
      display: none;
      font-size: 11px;
      margin: 0;
      padding: 0;
      line-height: 180%;
      /* identical to box height, or 22px */

      /* Paragraph Color */
      color: #afadb5;
    }

    .mini_title {
      /* 6 ways to give your home minimalistic vibes */

      width: 203px;
      height: 42px;

      /* Headings / H6 - Bold 16 */
      font-family: "Eudoxus Sans";
      font-style: normal;
      font-weight: 900;
      font-size: 11px;
      padding: 25px 0;
      line-height: 130%;
      /* or 21px */

      /* Text Color */
      color: #151411;
    }

    .mini_info_text {
      display: none;
    }

    .best_btn {
      display: none;
    }

    .best_info {
      width: 18px;
      margin: 50px auto;
      height: 18px;
    }
  }
}
